@model HomeViewModel
@{
    ViewData["Title"] = "Index";
    
    int count = (ViewBag.SelectedPage - 1) * 10;
}
<div class="container mt-5">
    <nav class="navbar navbar-light bg-dark">
        <form class="form-inline" asp-action="Index">
            <input asp-for="Pin" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>


<div class="text-center mt-4">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Pin</th>
                <th scope="col">Institution</th>
                <th scope="col">Year of Admission</th>
                <th scope="col">Birth Date</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var student in Model.Students)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Pin</td>
                    <td>@student.Institution</td>
                    <td>@student.Year.ToString("yyyy")</td>
                    <td>@student.BirthDate.ToString("yyyy-MM-dd")</td>

                </tr>
               
            }

        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(ViewBag.SelectedPage==1?"disabled":"")">
                <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item @(i==ViewBag.SelectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

            }

            <li class="page-item @(ViewBag.SelectedPage==ViewBag.TotalPage?"disabled":"")">
                <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

